body{
    margin: 0;
    padding: 0;
}
/**navigation bar**/
header{
    background-color: white;
    display: flex;
    justify-content: flex-end;
}
nav{
    background-color: white;
    width: 600px;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 30px;
    width: 90%;
}
li{
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
    font-size: large;
    font-weight: 600;
    color: rgb(14, 14, 43);
    transition-property: transform;
}
a{
    text-decoration: none;
    color: rgb(14, 14, 43);
}
a:hover{
    color: orangered;
}
#orange{
    color: orangered;
}
#orange-box{
    background-color: orangered;
    border-radius: 10px;
}
.orange-box{
    color: white;
    padding: 10px;
}
.orange-box:hover{
    color: white;
}
#slid-container, #slid-container-ps, #slid-container-mc{
    background-color:  rgb(230, 232, 235);
}
#slider, #slider-ps, #slider-mc {
    width: 200px;
    height: 400px;
    overflow: hidden;
}
#slider .slides, #slider-ps .slides-ps, #slider-mc .slides-mc {
    display: block;
    width: 1000px;
    height: 400px;
    margin: 0;
    padding: 0;
}
#slider .slide, #slider-ps .slide-ps, #slider-mc .slide-mc {
    float: left;
    list-style-type: none;
    width: 200px;
    height: 400px;
}


/**header-introduction-div**/

section{
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 231, 231);
    
 
}
.intro-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

h5, .h5-about-me{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: orangered;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: rgb(14, 14, 43);
}
.img-intro-div{
    width: 50%;
}
h3{
    margin-left: 80px;
    margin-top: -20px;
    font-family:monospace;
    font-style:normal;
    color: rgb(14, 14, 43)
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-size: small;
}
.hire{
    display: flex;
    justify-content: center;
}
#button{
    border: 1px solid orangered;
    border-radius: 20px;
    width: 100px;
    margin-bottom: 40px;
    margin: auto;
    text-align: center;
    color: orangered;
    padding: 10px;
}
h4{
    color: orangered;
}
#button:hover{
    background-color: orangered;
    color: white;
}
.img-intro-div{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}


/**About-division**/

#about-div{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.about-img{
    width: 50%;
    display: flex;
    justify-content: center;
}
#second-img{
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-info{
    width: 50%;
}

h2{
    margin-top: -20px;
    color: rgb(14, 14, 43);
}
.p-about, #p-about{
    color: rgb(112, 110, 110);
}
#about-icons-div{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
#icon-div{
    display: flex;
    flex-direction: row;
}
#user-icon{
    margin-right: 20px;
}
#name{
    margin-right: 30px;
}
#about-text-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#comma{
    margin-right: 8px;
}
.h2{
    display: flex;
   align-self: center;
}
#about-icons-div-2{
    display: flex;
    flex-direction: row;
    margin-top: -8px;
    flex-wrap: wrap;
}
#icon-div-2{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
#name-2{
    margin-right: 30px;
    font-size: 15px;
    margin-top: 10px;
}
#h3{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    margin-left: -4px;
}
.color{
    color: rgb(112, 110, 110);
}
.color-1{
    color: rgb(112, 110, 110);
}
.pointer,.pointer-exp{
    display: flex;
    flex-direction: column;
}
.line{
   background-color: orangered;
   height: 90px;
   width: 2px;
   margin-left: 6px;
   margin-top: -1px;
}
.lineone{
    background-color: orangered;
    height: 124px;
    width: 2px;
    margin-left: 6px;
    margin-top: -1px;  
}
.linetwo{
    background-color: orangered;
    height: 120px;
    width: 2px;
    margin-left: 6px;
    margin-top: -1px;   
}
.linethree{
    background-color: orangered;
    height: 75px;
    width: 2px;
    margin-left: 6px;
    margin-top: -1px;   
}
/**Awesome journey**/
#eduexp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(231, 231, 231);
    
}
.edu-text{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}
#education-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#education-title-icon{
    font-size: 30px;
    margin: 10px;   
}
#education-title-text, h2{
    margin: 0;
}
#journey{
    width: 80%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;  
}
.journey{
    display: flex;
    justify-content: center;
    width: 100%;
}
#education{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.education{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px;
}
#experience{
    display: flex;
    flex-direction: column;
    
}
.exp-exp{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: space-between;
    height: 300px;
}
.experience{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
#my-infor, #my-infor-FAQ, #my-infor-port{
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 5px;
}
#math, h3{
    margin: 0;
}
#math, #math-exp{
    font-size: large; 
}

.further{
    display: flex;
    flex-direction: row;
}
#federal{
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}
.federal{
    font-family:'Courier New', Courier, monospace;
    font-style: italic;  
}
#calendar{  
    font-size: 13px;
}
#notice{
    font-size: 13px; 
    margin-top: -15px;
    margin-left: 3px;
}


/**My Services**/

#my-infor-services{
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 5px;
    background-color: white;
}
#services{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services, .services-second, .services-last{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

#desktop-real{
    display: flex;
    flex-direction: row;
}

#desktop-parag{
    color: rgb(112, 110, 110);
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    width: 250px;
}
#solid{
    font-size: 20px;
    margin: 5px;
}
#desktop-title, #desktop-title-wm, #desktop-title-ld{
    margin: 5px;
}


/**My Portfolio**/

#works{
    display: flex;
    flex-direction: column;
}
#container-works{
    display: flex;
    flex-direction: row;
    height: 250px;
}
#p-works{
    color: rgb(112, 110, 110);
}
#text-works{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.main{
    margin: 0;
}
#button-works, #button-works-last{
    border: 1px solid orangered;
    border-radius: 10px;
    width: 80px;
    margin-bottom: 40px;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    color: orangered;
}
#button-works:hover, #button-works-last:hover{
    background-color: orangered;
    color: white;
}
#container-works-ps{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 250px;
    
}
#container-works-mc{
    display: flex;
    flex-direction: row;
    height: 250px;
}

/**Lets Work**/

#my-infor-updates{
    text-align: center;
    background-color: white;
    
}
#button-talk{
    border: 1px solid orangered;
    border-radius: 10px;
    width: 80px;
    margin-bottom: 40px;
    padding: 5px;
    color: orangered;
    margin: auto;
}
#button-talk:hover{
    background-color: orangered;
    color: white;
}
#back{
    display: flex;
    justify-content: flex-end;
}
#back:hover{
    color: orangered;
}
fieldset{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: rgb(14, 14, 43);
    width: 300px;
    
    margin: 20px;
}
#QS{
    margin: 20px;
}
#QS-title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#QS-title-lst{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#QS-mark{
    font-size: 25px;
}
#hr-QS{
    background-color: orangered;
    width: 200px;
    height: 1px;
}

/**Frequently Asked Question**/

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}
#p-footer{
    
    color: rgb(112, 110, 110);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

#button-mail{
    border: 1px solid orangered;
    border-radius: 10px;
    width: 80px;
    
    padding: 5px;
    text-align: center;
    color: orangered;
    
}
#button-mail:hover{
    background-color: orangered;
    color: white;
}
#QS-usd{
    font-size: 25px;   
}
#hr-usd{
    background-color: orangered;
    width: 210px;
    height: 1px;
}

#hr-circle{
    background-color: orangered;
    width: 170px;
    height: 1px;
}
#QS-circle{
    font-size: 25px;
}

/**footer**/

footer{
    background-color: rgb(14, 14, 43);
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#socials, #socials-first{
    font-size: 40px;
    margin: 15px;
}

/**Width 854px**/

@media screen and (max-width: 854px) {
     .line{
        height: 120px;
     }
     .lineone{
        height: 140px;
     }
     .linetwo{
        height: 140px;
     }
}
/**Width 830px**/

@media screen and (max-width: 830px) {
    #about-div{
        display: flex;
        flex-direction: column;
    }
    .about-img{
        display: flex;
        align-self: center;
        
    }
    #second-img{
        margin: 10px;
    }
    .about-info{
        width: 80%;
        text-align: center;
        margin: 10px;
        align-self: center;
    }
}
/**Width 700px**/

@media screen and (max-width: 700px) {
    .img-intro-div{
        display: none;
    }
    nav{
        display: none;
    }
    br{
        display: none;
    }
    .intro-div{
        width: 100%;
    }
}
/**Width 624px**/

@media screen and (max-width: 624px) {
    .line{
       height: 130px;
    }
    .lineone{
       height: 155px;
    }
    .linetwo{
       height: 155px;
    }
}
/**Width 540px**/

@media screen and (max-width: 540px) {
    .exp-exp{
        height: 390px;
    }
}
/**Width 538px**/

@media screen and (max-width: 538px) {
    .line{
        height: 145px;
    }
}
/**Width 538px**/

@media screen and (max-width: 538px) {
    .linethree{
        height: 100px;
    }
}
/**Width 524px**/

@media screen and (max-width: 524px) {
    .linethree{
        height: 120px;
    }
}
/**Width 414px**/

@media screen and (max-width: 414px) {
    #eduexp{
        display: none;
    }

}
/**Width 377px**/

@media screen and (max-width: 377px) {
    #works{
        height: 800px;
    }

}
