body{
    margin: 0;
    padding: 0;
}
/**navigation bar**/
header{
    background-color: white;
    display: flex;
    justify-content: flex-end;
}
nav{
    background-color: white;
    width: 600px;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 30px;
}
li{
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
    font-size: large;
    font-weight: 600;
    color: rgb(14, 14, 43);
    transition-property: transform;
}
a{
    text-decoration: none;
    color: rgb(14, 14, 43);
}
a:hover{
    color: orangered;
}
#orange{
    color: orangered;
}
#orange-box{
    background-color: orangered;
    border-radius: 10px;
}
.orange-box{
    color: white;
    padding: 10px;
}
.orange-box:hover{
    color: white;
}
#slid-container, #slid-container-ps, #slid-container-mc{
    background-color:  rgb(230, 232, 235);
}
#slider, #slider-ps, #slider-mc {
    width: 200px;
    height: 400px;
    overflow: hidden;
}
#slider .slides, #slider-ps .slides-ps, #slider-mc .slides-mc {
    display: block;
    width: 1000px;
    height: 400px;
    margin: 0;
    padding: 0;
}
#slider .slide, #slider-ps .slide-ps, #slider-mc .slide-mc {
    float: left;
    list-style-type: none;
    width: 200px;
    height: 400px;
}


/**header-introduction-div**/

section{
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 231, 231);
}
.intro-div{
    width: 50%;
}
#intro-div{
    margin-left: 170px;
    margin-top: 100px;
}
h5, .h5-about-me{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: orangered;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: rgb(14, 14, 43);
}
.img-intro-div{
    width: 50%;
}
h3{
    margin-left: 80px;
    margin-top: -20px;
    font-family:monospace;
    font-style:normal;
    color: rgb(14, 14, 43)
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-size: small;
}
#button{
    border: 1px solid orangered;
    border-radius: 20px;
    width: 100px;
    margin-bottom: 40px;
    margin-left: 400px;
    text-align: center;
    color: orangered;
    padding: 10px;
}
h4{
    color: orangered;
}
#button:hover{
    background-color: orangered;
    color: white;
}
.img-intro-div{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}


/**About-division**/

#about-div{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.about-img{
    width: 50%;
    display: flex;
    justify-content: center;
}
#second-img{
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-info{
    width: 50%;
}
#about-info{
    margin-top: 30px;
}
h2{
    margin-top: -20px;
    color: rgb(14, 14, 43);
}
.p-about, #p-about{
    color: rgb(112, 110, 110);
}
#about-icons-div{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
#icon-div{
    display: flex;
    flex-direction: row;
}
#user-icon{
    margin-right: 20px;
}
#name{
    margin-right: 30px;
}
#about-text-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#comma{
    margin-right: 30px;
}
.h2{
    display: flex;
   align-self: center;
}
#about-icons-div-2{
    display: flex;
    flex-direction: row;
    margin-top: -8px;
}
#icon-div-2{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
#name-2{
    margin-right: 30px;
    font-size: 15px;
    margin-top: 10px;
}
#h3{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    margin-left: -4px;
}
.color{
    color: rgb(112, 110, 110);
}
#journey{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
}
#eduexp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: rgb(231, 231, 231);
}
#education-title{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
   
}
#education-title-icon{
    font-size: 30px;
    margin-top: -20px;
    margin-right: 10px;
    
}
#education{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.education{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
#experience{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.edu-text{
    display: flex;
    flex-direction: column;
}
.further{
    display: flex;
    flex-direction: row;
}
.pointer,.pointer-exp{
    display: flex;
    flex-direction: column;
}
.line{
   background-color: orangered;
   height: 70px;
   width: 2px;
   margin-left: 6px;
   margin-top: -1px;
}

/**Awesome journey**/

#my-infor, #my-infor-FAQ, #my-infor-port{
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 5px;
}
.journey{
    margin-top: -20px;
}
#math, #math-exp{
    width: 400px;
    margin-top: 20px;
    font-size: large;
    margin-left: -70px;
}
#federal{
    margin-top: -40px;
    margin-left: 10px;
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}
.federal{
font-family:'Courier New', Courier, monospace;
font-style: italic;
}
#calendar{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 13px;
}
#notice{
    font-size: 13px;
    margin-top: 5px;
}
.experience{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 320px;
}

/**My Services**/

#my-infor-services{
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 5px;
    background-color: white;
}
#services{
    display: flex;
    flex-direction: row;
    background-color: white;
    
}
.services, .services-second, .services-last{
    display: flex;
    flex-direction: column;
    margin: 5px 100px;
}
#desktop, #desktop-real, #desktop-wrench{
    font-size: 50px;
    margin-left: 100px;
}
#desktop-title{
    margin-left: 90px;
    margin-top: 13px;
}
#desktop-parag, #desktop-parag-landing{
    color: rgb(112, 110, 110);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    margin-top: -20px;
    width: 250px;
}
#desktop-title-ld{
    margin-left: 20px;
    margin-top: 13px;
    width: 250px;
}
#desktop-title-wm{
    margin-left: 60px;
    margin-top: 13px;
}

/**My Portfolio**/

#works{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#container-works{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}
#h5-works{
    font-size: 30px;
    margin-top: -1px;
}
#h2-works{
    margin-top: -50px;
}
#p-works{
    color: rgb(112, 110, 110);
    margin-top: -10px;
}
#text-works{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#button-works, #button-works-last{
    border: 1px solid orangered;
    border-radius: 10px;
    width: 80px;
    margin-bottom: 40px;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    color: orangered;
}
#button-works:hover, #button-works-last:hover{
    background-color: orangered;
    color: white;
}
#container-works-ps{
    display: flex;
    flex-direction: row;
    margin-left: 800px;
    margin-top: -150px;
}
#container-works-mc{
    display: flex;
    flex-direction: row;
    margin-top: -150px;
    margin-left: 40px;
    height: 230px;
}

/**Lets Work**/

#my-infor-updates{
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 5px;
    background-color: white;
}
#button-talk{
    border: 1px solid orangered;
    border-radius: 10px;
    width: 80px;
    margin-bottom: 40px;
    margin-left: 630px;
    padding: 5px;
    text-align: center;
    color: orangered;
}
#button-talk:hover{
    background-color: orangered;
    color: white;
}
#back{
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}
#back:hover{
    color: orangered;
}
fieldset{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: rgb(14, 14, 43);
    width: 300px;
    height: 180px;
}
#QS-title{
    display: flex;
    flex-direction: row;
}
#h2-QS, #h2-QS-desk{
    margin-top: 5px;
}
#QS-mark{
    margin-left: 5px;
    font-size: 25px;
    margin-top: 2px;
}
#hr-QS{
    background-color: orangered;
    width: 200px;
    height: 1px;
    margin-top: -10px;
}

/**Frequently Asked Question**/

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.p-footer{
    color: rgb(112, 110, 110);
}
#button-mail{
    border: 1px solid orangered;
    border-radius: 10px;
    width: 80px;
    margin-bottom: 40px;
    padding: 5px;
    text-align: center;
    color: orangered;
    margin-left: 100px;
}
#button-mail:hover{
    background-color: orangered;
    color: white;
}
#QS-usd{
    margin-left: 8px;
    font-size: 25px;
    margin-top: 4px;
}
#hr-usd{
    background-color: orangered;
    width: 200px;
    height: 1px;
    margin-top: -10px;
    margin-left: 40px;
}
#h2-circle{
    margin-top: 5px;
    margin-left: 70px;
}
#hr-circle{
    background-color: orangered;
    width: 170px;
    height: 1px;
    margin-top: -10px;
    margin-left: 60px;
}
#QS-circle{
    font-size: 25px;
    margin-top: 4px;
}


/**footer**/

footer{
    background-color: rgb(14, 14, 43);
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#socials{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

/**Width 1115px**/

@media screen and (max-width: 1115px) {
    .about-img{
        margin-left: -100px;
    }
    #button{
        margin-left: 250px;
    }
    .experience{
        margin-left: 220px;
    }
    .education{
        margin-left: -80px;

    }
    #services{
        margin-left: -80px;
    }
    .services-second{ 
        margin: 5px 50px;
    }
    #container-works-ps{
        margin-left: 500px;
    }
    #button-talk{
        margin-left: 500px;
    }
}   
/**Width 1000px**/

@media screen and (max-width: 1000px) {
    .experience{
        margin-left: 120px;
    }
    .services-second{ 
        margin: 5px 2px;
    }
    #container-works-ps{
        margin-left: 350px;
    }
    #button-talk{
        margin-left: 450px;
    }
}

/**Width 965px**/

@media screen and (max-width: 965px) {
    .intro-div{
        margin-left: -50px;
    }
    .services-second{     
        margin: 5px -30px;
    }
    h3{
        margin-left: -1px;
    }
}
/**Width 964px**/

@media screen and (max-width: 964px) {
    #math{
        margin-top: -5px;
    }
    #eduexp{
        margin-bottom: 20px;
    }
    #federal{
        margin-top: -25px;
    }
    .education{
        margin-bottom: 20px;
    }
}

/**Width 912px**/

@media screen and (max-width: 912px) {
    #services{     
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .services-last{
        margin-left: 200px;
    }
    .services-second{
        margin-right: 20px;
    }
    #footer{
        flex-wrap: wrap;
    }
    fieldset{
        margin-bottom: 20px;
    }
    #math-exp{
        margin-left: -10px;
        margin-top: -5px;
    }
    #button-talk{
        margin-left: 400px;
    }
}

/**Width 828px**/

@media screen and (max-width: 828px) {
    .experience{
        margin-left: 130px;
    }
    #math-exp{
        margin-left: -10px;
        margin-top: -5px;
    }
    #math{
        margin-left: -5px;
    }
    .pointer{
        margin-left: -100px;
    }
    .services-second{     
        margin: 5px -80px;
    }
    #desktop-title{
        margin-left: 70px;
    }
    #button-talk{
        margin-left: 350px;
    }
    #footer{
        flex-wrap: wrap;
    }
    fieldset{
        margin-bottom: 20px;
    }
}

/**Width 768px**/

@media screen and (max-width: 768px) {
    #intro-div{
        margin-left: 100px;
    }
    .about-img{
        margin-left: -100px;
    }
    .about-info{
        margin-left: 20px;
    }
    #math-exp{
        margin-left: -10px;
    }
    .experience{
        margin-left: 50px;
    }
    #services{     
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .services-last{
        margin-left: 200px;
    }
    .services-second{
        margin-right: 20px;
    }
}

/**Width 540px**/

@media screen and (max-width: 540px) {
    .img-intro-div{
        display: none;
    }
    .intro-div{
        margin-left: -40px;
        width: 100%;
    }
    br{
        display: none;
    }
    #about-div{
        display: flex;
        flex-direction: column;
    }
    #education{
        margin-left: -55px;
    }
    .experience{
        margin-left: -100px;
    }
    .services{
        margin-left: 200px;
    }
    .services-second{
        margin-left: 120px;
    }
    #container-works-ps{
        margin-left: 40px;
    }
    #button-talk{
        margin-left: 230px;
    }
}
/**Width 414px**/

@media screen and (max-width: 414px) {
    nav{
        display: none;
    }
    #button{
        margin-left: 180px;
    }
    .about-img{
        margin-left: 30px;
    }
    #about-info{
        width: 100%;
        margin-left: 40px;
    }
    h5, h2{
        margin-left: 95px;
    }
    h5{
        margin-left: 120px;
    }
    #p-about{
        width: 400px;
        margin-left: -40px;
    }
    #about-icons-div{
        margin-left: -5px;
    }
    .color{
        width: 400px;
    }
    #eduexp{
        display: none;
    }
    #journey{
        flex-wrap: wrap;
    }
    #my-infor-port{
        padding: 20px;
    }
    #my-infor{
        margin-bottom: 10px;
  
    }
    .my-infor{
        margin-left: -10px;
    }
    #federal, #notice{
        margin-left: -120px;
    }
    .experience{
        margin-left: -235px;
    }
    .awesome{
        margin-left: -20px;
    }
    #desktop-real{
        margin-right: 150px;
    }
    #desktop-wrench{
        margin-left: 100px;
    }
    #desktop{
        margin-left: 100px;
    }
    #desktop-title{
        margin-left: -5px;
    }
    #desktop-title-wm{
        margin-left: -30px;
    }
    #desktop-title-ld{
        width: 350px;
        margin-left: -50px;
    }
    #desktop-parag, #desktop-parag-landing{
        margin-left: 10px;
        width: 300px;
    }
    .my-infor-port{
        margin-right: 100px;
    }
    .awesome-port{
        margin-right: 80px;
    }
    #works{
        margin-left: -20px;
        height: 800px;
    }
    #h2-works{
        margin-left: 5px;
    }
    #h5-works{
        margin-left: 3px;
    }
    #button-talk{
        margin-left: 150px;
    }
    .my-infor-FAQ{
        margin-left: 10px;
    }
    .awesome-FAQ{
        margin-left: -13px;
    }
    #footer{
        margin-top: -10px;
    }
    #h2-QS{
        margin-left: 10px;
    }
    #h2-QS-desk{
        width: 300px;
        margin-left: 10px;
    }
    #QS-mark{
        margin-left: -25px;
    }
    #button-works-last{
        margin-top: -10px;
    }
    #QS{
        height: 200px;
    }
}

/**Width 412px**/

@media screen and (max-width: 412px) {
    nav{
        display: none;
    }
    #button{
        margin-left: 200px;
    }
    .about-img{
        margin-left: 30px;
    }
    .color{
        margin-left: -10px;
    }
    #about-info{
        width: 100%;
        margin-left: 40px;
    }
    h5, h2{
        margin-left: 80px;
    }
    h5{
        margin-left: 100px;
    }
    #p-about{
        width: 400px;
        margin-left: -30px;
    }
    #eduexp{
        display: none;
    }
    #my-infor{
        margin-bottom: 10px;
        margin-left: -50px;
    }
    .my-infor-journey{
        margin-left: 70px;
    }
    #journey{
        flex-wrap: wrap;
    }
    #federal, #notice{
        margin-left: -95px;
    }
    .experience{
        margin-left: -235px;
    }
    .awesome{
        margin-left: -20px;
    }
    #desktop-real{
        margin-right: 150px;
    }
    #desktop-wrench{
        margin-left: 110px;
    }
    #desktop{
        margin-left: 100px;
    }
    #desktop-title{
        margin-left: -5px;
    }
    #desktop-title-wm{
        margin-left: -20px;
    }
    #desktop-title-ld{
        width: 350px;
        margin-left: -50px;
    }
    #desktop-parag, #desktop-parag-landing{
        margin-left: 10px;
        width: 300px;
    }
    .my-infor-port{
        margin-right: 60px;
    }
    .awesome-port{
        margin-right: 40px;
    }
    #works{
        margin-left: -20px;
        margin-top: -10px;
    }
    #h2-works{
        margin-left: 5px;
    }
    #h5-works{
        margin-left: 3px;
    }
    #button-talk{
        margin-left: 150px;
    }
    .my-infor-FAQ{
        margin-left: 48px;
    }
    #footer{
        margin-top: -10px;
    }
    #h2-QS{
        margin-left: 10px;
    }
    #h2-QS-desk{
        width: 300px;
        margin-left: 10px;
    }
    #QS-mark{
        margin-left: -25px;
    }
    #button-works-last{
        margin-top: -10px;
    }
}

/**Width 393px**/

@media screen and (max-width: 393px) {
    h5{
        margin-left: 2px;
    }
    #button{
        margin-left: 170px;
    }
    .h5-about-me{
        margin-left: 100px;
    }
    #p-about{
        margin-left: -45px;
    }
    .color{
        margin-left: -20px;
    }
    #federal, #notice{
        margin-left: 10px;
    }
}

/**Width 390px**/

@media screen and (max-width: 390px) {
    h5{
        margin-left: 2px;
    }
    #button{
        margin-left: 170px;
    }
    .h5-about-me{
        margin-left: 100px;
    }
    #p-about{
        margin-left: -45px;
    }
    #my-infor{
        margin-left: -10px;
    }
    .color{
        margin-left: -20px;
    }
    #federal, #notice{
        margin-left: 10px;
    }
}

/**Width 375px**/

@media screen and (max-width: 375px) {
    #p-about{
        margin-left: -50px;
    }
    #comma{
        margin-left: -20px;
    }
    #about-icons-div-2{
        margin-left: -10px;
    }
    #works{
        margin-left: -30px;
    }
    #button-talk{
        margin-left: 140px;
    }
    .my-infor-FAQ{
        margin-left: -5px;
    }
    .awesome-FAQ{
        margin-left: 20px;
    }
}

/**Width 390px**/

@media screen and (max-width: 390px) {
    h2{
        width: 200px;
    }
    #p-about{
        margin-left: -60px;
    }
    #about-icons-div{
        margin-left: -15px;
    }
    #about-icons-div-2{
        margin-left: -20px;
    }
    .awesome{
        margin-left: 80px;
    }
    #desktop-title-ld{
        margin-left: -20px;
    }
    #span{
        margin-left: 30px;
    }
    #works{
        margin-left: -35px;
    }
    #text-works{
        margin-left: 4px;
    }
    #p-works{
        width: 150px;
    }
    .awesome-FAQ{
        margin-left: 30px;
        width: 300px;
    }
    #button-talk{
        margin-left: 130px;
    }
    #h2-QS{
        width: 250px;
    }
       
}
